div {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation: example 5s linear infinite;
    animation-duration: 10s;
  }
  

@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {
        background-color:yellow; 
        left:500px; top:0px; 
        border-radius: 2%;
        rotate: 360deg;
        box-shadow: 0px 0px 49px 13px rgba(0,0,0,0.58);

    }
    50%  {background-color:blue; left:200px; top:200px;border-radius: 60%; }
    75%  {background-color:green; left:0px; top:200px; border-radius: 10%; }
    100% {background-color:red; left:0px; top:0px;}
  }