:root {
    --color-background: #151515;
    --color-background-2: #1C1C1C;
    --color-background-3: #801336;
    --color-background-4: #c72c41;
    --color-background-5: #ee4540;
    --color-title: #FFFFFF;
    --color-subTitle: #F2F2F2;
    --font-1: 'B612', sans-serif;
    --font-2: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}