:root {
    --color-background: #2d142c;
    --color-background-2: #510a32;
    --color-background-3: #801336;
    --color-background-4: #c72c41;
    --color-background-5: #ee4540;
    --color-title: #F6D8CE;
    --color-subTitle: #F8E6E0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: var(--color-background);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container {
    width: 80%;
    height: 90vh;
    background-color: var(--color-background-2);
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.75);
}

div.container div.up {
    border: 2px solid black;
    height: 100%;
    width: 10%;
}

div.container div.up nav {
    /* border: 1px solid red; */
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

div.container div.up nav a{
    display: block;
    text-align: center;
    /* transform: rotate(270deg); */
    /* margin-top: 30%;
    margin-bottom: 30%; */
    text-decoration: none;
    color: var(--color-title);
    border: 1px solid yellow;
    width: 100%;
    height: 20%;
    text-align: center;
}
