@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(73, 47, 116);
  --primary-color-darker: rgb(9, 48, 56);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
}

.container {
  position: relative;
  width: 50%;
  height: 50%;
  margin: 50px auto;
  background: #fff;
  padding: 5px;
  border-radius: 10px;
  
}

.senha-gerada {
  color: var(--primary-color);
  width: 100%;
  
}

.container-chk {
  
  display: grid;
  grid-template-columns: auto;
  grid-template-rows:  auto auto auto auto auto;
}

.cont {
  
  display: flex;
  justify-content: start;
  align-items: center;
}

p {
  font-size: 15px;
}


input {
  padding: 2px;
}
 button {
   width: 50%;
   background-color: rgb(65, 29, 122);
   color: white;
   border-radius: 10px;
  }
